.right_col{
    float:left;
    margin-left:40px;
    margin-top:-5px;
    margin-bottom:20px;
}
.left_col{
    float:left;
}
.category_label{
    float:left;
    width:200px;
    border:0px solid black;
    margin-right:2px;
}

li.cat_row{
    margin:2px;
    width:340px;
    padding:4px;
}

li.cat_row:nth-child(odd){
    background:#CCCCCC;
}