.memberName {
    font-weight:bold;
}

.headerTextLeft {
    float:left;
    margin-left:2px;
}
.rowCont {
    width:1778px; //4 columns;
    width:1336px; //3 columns;
    //width:914px;  //2 columns;
    //width:494px;
    margin:0px auto;
    border:1px solid black;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;

}

.rowContentCont {
    //width:1260px;
    //width:900px;
    width:100%;
    height:104px;
    float:left;
}
.contentNav {
    float:left;
    position:relative;
    text-align:center;
}

.contentNavInner {
    z-index:2;
    height:178px;
    width:74px;
    top:-54px;
    left:-74px;
    position:absolute;
    border-left:0px solid black;
    border-top:0px solid black;
    background-color:#c4e3f3; 
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
}

.navButton {
    font-weight:bold;
    font-size:48px;
    line-height: 1.2;
}

.memberCont {
    width:100%;
    border:1px solid black;        
}

.header{
    background-color: #dddddd;
    border:0px solid black;
    border-top-left-radius:0px;
    border-top-right-radius:25px;
    padding-left:0px;
}
.avatarCont {
    border:1px solid black;
    margin:3px;
    overflow:hidden;
    height:48px;
    width:48px;
    float:left;
}
.avatar{
    width:48px;
}

.footerCont, .firstFooterCont {
    width:420px;
    display:inline-block;
    border-left:1px black solid;
    background-color:#dddddd;
    padding-left:2px;
    padding-right:2px;
}

.rowFooterCont {
    background-color:#dddddd;
}

.firstFooterCont {
    border-left:0px;
}

.thumbCont{
    display:none;
    float:left;
    width:100px;
    height:100px;
    overflow:hidden;
    border:1px solid black;
    margin-right:2px;
}


.textCont{
    border:0px solid blue;
    padding:2px;
    //margin-left:102px;
}

.contentCont, .firstContentCont{
    border-left:1px solid green;
    width:420px;
    height:104px;
    display:inline-block;
    overflow:hidden;
    padding:1px;
    float:left;
}

.firstContentCont {
    border-left:0px;
}
@media (max-width:640px) {

    .contentNavInner {    
            left:-74px;
    }
    .rowCont {
        width:494px;
    }
}

@media (max-width:1024) {
    .contentNavInner {
        left:-74px;
    }
    .rowCont{
        width:914px;
    }
}

@media (max-width: 1900px) {

}




