.memberName {
    font-weight:bold;
}

.headerTextLeft {
    background-color:#cccccc;
    width:100%;
    padding:4px 0px 4px 56px;
    border-top-right-radius:25px;

}
.rowCont {
    //width:1778px; //4 columns;
    //width:1336px; //3 columns;
    //width:914px;  //2 columns;
    //width:494px;
    position:relative;
    margin:0px auto;
    border-right:1px solid #cccccc;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
    border-bottom:1px solid #cccccc;
    margin-bottom:6px;
}

.rowContentCont {
    //width:1260px;
    //width:900px;
    //width:100%;
    //height:104px;
    //float:left;
}
.contentNav {
    border:0px solid black;
    float:left;
    margin-top:30px;
    margin-left:-20px;
    text-align:center;
    width:30px;
    position:absolute;
    top:0px;
}

.navButton {
    font-weight:bold;
    font-size:48px;
    line-height: 1;
}

.navButtonCont {
    width:30px;
    clear:both;
}

.header{
    background-color: #dddddd;
    border:0px solid black;
    //border-top-left-radius:0px;
    //border-top-right-radius:25px;
    padding-left:0px;
}

.leftBar {
    background-color:#cccccc;
    width:54px;
    float:left;
    height:170px;
}

.avatarHolder {
    border:1px solid black;
    margin:3px;
    overflow:hidden;
    height:48px;
    width:48px;
    float:left;

}
.avatar{
    width:48px;
}

.footerCont, .firstFooterCont, .lastFooterCont {
    width:420px;
    display:inline-block;
    border-left:1px solid #cccccc;
    
    //background-color:#cccccc;
    padding-left:2px;
    padding-right:2px;
    text-align:right;
}

.rowFooterCont {
    background-color:#dddddd;
}

.firstFooterCont {
    border-left:0px;
}

.thumb {
    width:100px;
}

.thumbCont{
    display:none;
    float:left;
    width:100px;
    height:100px;
    overflow:hidden;
    border:1px solid black;
    margin-right:2px;
    
}

.textCont{
    border:0px solid blue;
    padding:2px;
    //margin-left:102px;
}

.contentCont, .firstContentCont{
    border-left:1px solid #cccccc;
    width:420px;
    height:122px;
    
    overflow:hidden;
    padding:1px;
    float:left;
}

.firstContentCont {
    border-left:0px;
}

.catPath {
    font-weight:bold;
    font-size:16px;
}

.childNext, .childPrev {
    font-weight:bold;
    font-size:16px;

    //margin-top:8px;
}

.childrenNavTop {
    float:right;
    margin-top:20px;
    margin-right:20px;
}
.childrenNavBottom {
    display:none;
}

.childrenHolder, .childrenHolderNone, .childrenHolderBlock{
    top:0px;
    left:0px;
    position:absolute;
    width:100%;
}

.childrenHolderNone {
    display:none;
}
.childrenHolderBlock {
    display:block;
}

.parentCont {
    margin:0px auto;
}

.parentHolder {
    position:relative;
    height:170px;
}

.parentTitle {
    font-weight:bold;
    font-size:20px;
}
.parentTitleCont {
    width:260px;
    border:0px solid black;
    border-top-right-radius:25px;
    border-top-left-radius: 25px;
    border-bottom:0px;
    padding-left:12px;
    padding-right:10px;
    padding-top:10px;
    height:48px;
    background-color:#cee3f8;
}

@media (max-width:640px) {
        
    .contentNav {
        left:30px;
        top:18px;
    }
    .contentCont {
        width:520px;
    }
    .footerCont{
        width:520px;
    }
}

@media (max-width:360px) {
 

    .parentCont{
        width:310px;
    }
    .contentCont{
        width:250px;
    }
    .footerCont{
        width:240px;
    }
    .thumb{
        width:80px;
    }
    .thumbCont{
        width:80px;
        height:80px;
    }
    .childrenNavTop{
        display:none;
    }
    .childrenNavBottom{
        display:block;
        float:right;
        margin-bottom:14px;
        margin-top:4px;
    }
    

    
}


@media (min-width:1200px) {
    .container{
        width:940px;
    }
    .contentNav {
        left:940px;
    }
}

@media (min-width: 1900px) {
    .container{
        width:1366px;
    }
    .contentNav{
        left:1360px;
    }
}

.content{
    margin-top:10px;
}
